<header class="page-header">
    <h2>Выбор услуг</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li><span>Выбор услуг</span> <span class="separator"></span></li>
        </ol>
    </div>
</header>


<section class=".col-md-12 ">
    <a class="mb-xs mt-xs mr-xs btn btn-primary btn-lg btn-block" href="/car-reservation">ПРОКАТ АВТО</a>
    <a class="mb-xs mt-xs mr-xs btn btn-primary btn-lg btn-block" href="/apartment-reservations">КВАРТИРЫ</a>
    <a class="mb-xs mt-xs mr-xs btn btn-primary btn-lg btn-block" href="/contracts">МУЗы</a>
    <a class="mb-xs mt-xs mr-xs btn btn-info btn-lg btn-block" href="/new-page-30">Аналитика</a>
</section>