<header class="page-header">
    <h2>Автомобили</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li><span>Автомобили</span> <span class="separator"></span></li>
        </ol>
    </div>
</header>
<section class="panel panel-featured panel-featured-primary">
    <header class="panel-heading">
        <h2 class="panel-title">Авто в распоряжении</h2>
    </header>
    <div class="panel-body">
        <button href="#add-products" type="button" class="mb-xs mt-xs mr-xs btn btn-sm btn-default modal-with-form">
            <i class="fa fa-plus"></i> Добавить автомобиль
        </button>
        <div class="zag">
            <h1>заглушка</h1>
        </div>
        <div class="table-responsive">
            <table id="js-cars-table"
                class="display table table-bordered table-striped table-condensed mb-none customize"
                style="width:100%; display: none">
                <thead>
                    <tr>
                        <th>Марка</th>
                        <th>Модель</th>
                        <th>Гос.номер</th>
                        <th>Подробнее</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each cars}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td>{{this.model}}</td>
                            <td>{{this.number}}</td>
                            <td>
                                <a href="/cars/{{this.id}}" target="_blank">Подробнее</a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Марка</th>
                        <th>Модель</th>
                        <th>Гос.номер</th>
                        <th>Подробнее</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>

<!-- Модалки-->

<div id="add-products" class="modal-block modal-block-primary mfp-hide" style="max-width: 700px;">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Добавление нового автомобиля</h2>
        </header>
        <div class="panel-body">
            <form action="/api/cars/add" id="js-cars-add-form" class="form-horizontal mb-lg" novalidate="novalidate">
                <div class="form-group mt-lg">
                    <label class="col-sm-4 control-label">Название автомобиля</label>
                    <div class="col-sm-8">
                        <input name="name" type="text" class="form-control" placeholder="Введите название" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Модель</label>
                    <div class="col-sm-8">
                        <input name="model" type="text" class="form-control" placeholder="Введите модель" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Класс</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="Введите класс">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Гос.номер</label>
                    <div class="col-sm-8">
                        <input name="number" type="text" class="form-control" placeholder="Введите номер" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Дата выпуска</label>
                    <div class="col-sm-8">
                        <input type="date" name="release_date" class="form-control" placeholder="Введите модель"
                            required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Фактический пробег</label>
                    <div class="col-sm-8">
                        <input name="mileage" type="text" class="form-control" placeholder="Введите пробег" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Состояние кузова</label>
                    <div class="col-sm-8">
                        <input name="carcass_condition" type="text" class="form-control" placeholder="Введите состояние"
                            required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Фактический уровень топлива</label>
                    <div class="col-sm-8">
                        <input name="fuel_level" type="number" class="form-control"
                            placeholder="Введите уровень топлива" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Номер ОСАГО</label>
                    <div class="col-sm-3">
                        <input name="osago_number" data-plugin-masked-input="" data-input-mask="aaa 999999"
                            placeholder="AAA 123456" class="form-control">
                    </div>
                    <label class="col-sm-3 control-label">Дата окончания</label>
                    <div class="col-sm-3">
                        <input type="date" name="osago_expiration_date" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">ТО</label>
                    <div class="col-sm-8">
                        <input name="maintenance" type="number" class="form-control" placeholder="Введите цену"
                            required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Рыночная стоимость</label>
                    <div class="col-sm-3">
                        <input name="market_price" type="number" class="form-control" placeholder="Введите цену"
                            required>
                    </div>
                    <label class="col-sm-3 control-label">Стоимость покупки</label>
                    <div class="col-sm-3">
                        <input name="purchase_price" type="number" class="form-control" placeholder="Введите цену"
                            required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-transform: uppercase; font-weight: bold; text-align: center;">Лизинг</label>
                </div>
                <div class="form-group">
                    <label class="col-sm-3" style="text-align: right;">Статус</label>
                    <div class="col-sm-9">
                        <div class="checkbox-custom checkbox-primary col-sm-3">
                            <input type="checkbox" name="in_leasing" id="checkboxLising" class="checkbox-lising">
                            <label for="checkboxLising">В лизинге</label>
                        </div>
                    </div>
                </div>
                <div class="form-group checkbox-lising-info" style="display: none;">
                    <label class="col-sm-3 control-label">Размер платежа, руб</label>
                    <div class="col-sm-3">
                        <input name="payment_amount" type="number" class="form-control" placeholder="Введите сумму"
                            required>
                    </div>
                    <label class="col-sm-3 control-label">Дата платежа</label>
                    <div class="col-sm-3">
                        <input type="date" name="payment_date" class="form-control" required>
                    </div>
                    <label class="col-sm-5 control-label">Дата окончания</label>
                    <div class="col-sm-5">
                        <input name="leasing_expiration_date" type="date" class="form-control"
                            placeholder="Введите сумму" required>
                    </div>
                </div>
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary">Подтвердить</button>
                    <button class="btn btn-default modal-dismiss">Отмена</button>
                </div>
            </form>
        </div>
    </section>
</div>
<script src="/assets/vendor/jquery-maskedinput/jquery.maskedinput.js"></script>
<script>
    const checkLising = document.querySelector('.checkbox-lising');
    const checkLisingInfo = document.querySelector('.checkbox-lising-info');
    checkLising.addEventListener('change', function () {
        if (this.checked) {
            checkLisingInfo.style.display = "block";
        } else {
            checkLisingInfo.style.display = "none";
        }
    });
</script>