<header class="page-header">
    <h2>Клиенты</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li><span>Клиенты</span> <span class="separator"></span></li>
        </ol>
    </div>
</header>
<section class="panel panel-featured panel-featured-primary">
    <header class="panel-heading">
        <h2 class="panel-title">Список клиентов</h2>
    </header>
    <div class="panel-body">
        <button href="#add-products" type="button" class="mb-xs mt-xs mr-xs btn btn-sm btn-default modal-with-form">
            <i class="fa fa-plus"></i> Добавить клиента
        </button>
        <div class="zag">
            <h1>заглушка</h1>
        </div>
        <div class="table-responsive">
            <table id="js-clients-table"
                class="display table table-bordered table-striped table-condensed mb-none customize"
                style="width:100%; display: none">
                <thead>
                    <tr>
                        <th>Наименование/ФИО</th>
                        <th>Телефон</th>
                        <th>Подробнее</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each passengers}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td>{{this.contact_number}}</td>
                            <td>
                                <a href="/clients/{{this.id}}" target="_blank">Подробнее</a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Наименование/ФИО</th>
                        <th>Телефон</th>
                        <th>Подробнее</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>

<!-- Модалки-->

<div id="add-products" class="modal-block modal-block-primary mfp-hide" style="max-width: 700px;">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Добавление нового клиента</h2>
        </header>
        <div class="panel-body">
            <form action="/api/passengers/add" id="js-passengers-add-form" class="form-horizontal mb-lg" novalidate="novalidate">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Наименование/ФИО</label>
                    <div class="col-sm-8">
                        <input name="name" type="text" class="form-control" placeholder="Введите данные" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Дата рождения</label>
                    <div class="col-sm-8">
                        <input name="birthday" type="date" class="form-control" placeholder="Введите дату" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Контактный телефон</label>
                    <div class="col-sm-8">
                        <input name="contact_number" id="phone" data-plugin-masked-input="" data-input-mask="+7 (999) 999-9999"
                            placeholder="+7 (123) 123-1234" class="form-control" required>
                    </div>
                </div>
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary">Подтвердить</button>
                    <button class="btn btn-default modal-dismiss">Отмена</button>
                </div>
            </form>
        </div>
    </section>
</div>
<script src="/assets/vendor/jquery-maskedinput/jquery.maskedinput.js"></script>