<table class="table table-bordered table-striped table-condensed mb-none">
    <thead>
        <tr>
            <th colspan="5" class="text-left">Остаток на начало периода: <span>5000</span> руб.</th>
        </tr>
        <tr>
            <th>Дата</th>
            <th>Кому/От кого</th>
            <th class="text-right">Приход, руб.</th>
            <th class="text-right">Расход, руб.</th>
            <th class="text-right">Касса/счет</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>21.10.2019</td>
            <td>ООО "Рога и Копыта"</td>
            <td class="text-right">10000</td>
            <td class="text-right"></td>
            <td class="text-right">Касса 1488</td>
        </tr>
        <tr>
            <td>21.10.2019</td>
            <td>ООО "Рога и Копыта"</td>
            <td class="text-right"></td>
            <td class="text-right">2000</td>
            <td class="text-right">Касса 1488</td>
        </tr>
        <tr>
            <td>23.10.2019</td>
            <td>ИП "Иван Иванов"</td>
            <td class="text-right"></td>
            <td class="text-right">5000</td>
            <td class="text-right">Счет тиньков 406890</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>Дата</th>
            <th>Кому/От кого</th>
            <th class="text-right">Приход</th>
            <th class="text-right">Расход</th>
            <th class="text-right">Касса/счет</th>
        </tr>
        <tr>
            <th colspan="5" class="text-left">Остаток на конец периода: <span>8000</span> руб.</th>
        </tr>
    </tfoot>
</table>