<!-- start: header -->
<header class="header">
    <div class="logo-container">
        <a href="/" class="logo">
            <img src="/assets/images/main-logo-new.png" height="35" alt="Картинка-ссылка на главную страницу" />
        </a>
        <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html"
            data-fire-event="sidebar-left-opened">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>

    <!-- start: search & user box -->
    <div class="header-right">
        <ul class="notifications">
            <li>
                <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-bell"></i>
                    <span class="badge">4</span>
                </a>

                <div class="dropdown-menu notification-menu" style="min-width: 280px">
                    <div class="notification-title">
                        <span class="pull-right label label-default">4</span>
                        Уведомления
                    </div>

                    <div class="content">
                        <ul style="overflow-y: scroll; max-height: 200px;">
                            <li>
                                <a href="#" class="clearfix">
                                    <div class="image">
                                        <i class="fa fa-warning bg-warning"></i>
                                    </div>
                                    <span class="title">Окончание водительского удостоверения 31.01.2019</span>
                                    <span class="message">01.01.2019</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="clearfix">
                                    <div class="image">
                                        <i class="fa fa-warning bg-warning"></i>
                                    </div>
                                    <span class="title">Окончание лизинга 31.01.2019</span>
                                    <span class="message">01.01.2019</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="clearfix">
                                    <div class="image">
                                        <i class="fa fa-warning bg-warning"></i>
                                    </div>
                                    <span class="title">ОСАГО подходит к концу 31.01.2020</span>
                                    <span class="message">01.01.2019</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="clearfix">
                                    <div class="image">
                                        <i class="fa fa-warning bg-warning"></i>
                                    </div>
                                    <span class="title">Окончание водительского удостоверения 31.01.2019</span>
                                    <span class="message">01.01.2019</span>
                                </a>
                            </li>
                        </ul>
                        <hr>
                        <div class="text-right">
                            <a href="/new-page-34" class="view-more">Посмотреть все</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <span class="separator"></span>

        <div id="userbox" class="userbox">
            <a href="#" data-toggle="dropdown">
                <figure class="profile-picture">
                    <img src="/assets/images/!logged-user.jpg" alt="Joseph Doe" class="img-circle" data-lock-picture="/assets/images/!logged-user.jpg" />
                </figure>
                <div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@JSOFT.com">
                    <span class="name">{{user.last_name}} {{user.first_name}} {{user.middle_name}}</span>
                </div>

                <i class="fa custom-caret"></i>
            </a>

            <div class="dropdown-menu">
                <ul class="list-unstyled">
                    <li class="divider"></li>
                    <li>
                        <a role="menuitem" tabindex="-1" href="/cabinet"><i class="fa fa-user"></i>Мой профиль</a>
                    </li>
                    <li>
                        <a role="menuitem" tabindex="-1" href="/logout"><i class="fa fa-power-off"></i>Выйти</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end: search & user box -->
</header>
<!-- end: header -->