<table class="table table-bordered table-striped table-condensed mb-none">
    <thead>
        <tr>
            <th colspan="5" class="text-left">Баланс на данный момент: <span>-110000</span> руб.</th>
        </tr>
        <tr>
            <th colspan="5" class="text-left">Баланс на начало периода: <span>-110000</span> руб.</th>
        </tr>
        <tr>
            <th>Дата</th>
            <th>Кому/От кого</th>
            <th class="text-right">Приход, руб.</th>
            <th class="text-right">Расход, руб.</th>
            <th class="text-right">Основание</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>21.10.2019</td>
            <td>ООО "УБРиР"</td>
            <td class="text-right"></td>
            <td class="text-right">40000</td>
            <td class="text-right"><a href="#">Документ № <span>4</span></a></td>
        </tr>
        <tr>
            <td>23.10.2019</td>
            <td>ИП "Иван Иванов"</td>
            <td class="text-right"></td>
            <td class="text-right">5000</td>
            <td class="text-right"><a href="#">Документ № <span>10</span></a></td>
        </tr>
        <tr>
            <td>23.10.2019</td>
            <td>ИП "Иван Иванов"</td>
            <td class="text-right">2000</td>
            <td class="text-right"></td>
            <td class="text-right"><a href="#">Документ № <span>5</span></a></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>Дата</th>
            <th>Кому/От кого</th>
            <th class="text-right">Приход</th>
            <th class="text-right">Расход</th>
            <th class="text-right">Основание</th>
        </tr>
        <tr>
            <th colspan="5" class="text-left">Баланс на конец периода: <span>-153000</span> руб.</th>
        </tr>
    </tfoot>
</table>