<header class="page-header">
    <h2>Исполненные контракты</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li><span>Исполненные контракты</span> <span class="separator"></span></li>
        </ol>
    </div>
</header>
<section class="panel panel-featured panel-featured-primary">
    <header class="panel-heading">
        <h2 class="panel-title">Списоки исполненных контрактов</h2>
    </header>
    <div class="panel-body">
        <div class="zag">
            <h1>заглушка</h1>
        </div>
        <div class="table-responsive">
            <table id="js-apartment-reservations-table"
                class="display table table-bordered table-striped table-condensed mb-none customize"
                style="width:100%; display: none">
                <thead>
                    <tr>
                        <th>Дата начала</th>
                        <th>Дата окончания</th>
                        <th>Заказчик</th>
                        <th>Менеджер</th>
                        <th>Номер</th>
                        <th>Подробнее</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>2</td>
                        <td>4</td>
                        <td>
                            <a href="#" target="_blank">Подробнее</a>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>2</td>
                        <td>4</td>
                        <td>
                            <a href="#" target="_blank">Подробнее</a>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>2</td>
                        <td>4</td>
                        <td>
                            <a href="#" target="_blank">Подробнее</a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Дата начала</th>
                        <th>Дата окончания</th>
                        <th>Заказчик</th>
                        <th>Менеджер</th>
                        <th>Номер</th>
                        <th>Подробнее</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>