<header class="page-header">
    <h2>Ведомость путевых листов</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li><span>Ведомость путевых листов</span> <span class="separator"></span></li>
        </ol>
    </div>
</header>
<section class="panel panel-primary">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
        </div>
        <h2 class="panel-title">Формирование ведомости путевых листов</h2>
    </header>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-condensed mb-none customize">
                <thead>
                    <tr>
                        <th colspan="4">
                            <div class="date-header">
                                <span>Отчет с</span>
                                <input type="date" class="form-control date-from">
                                <span>по </span>
                                <input type="date"
                                    class="form-control date-to">
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="4">
                            <div class="date-header">
                                <select class="form-control">
                                    <option value="">По всем водителям</option>
                                    {{#each drivers}}
                                        <option value="{{id}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="4">
                            <button class="btn btn-primary">Сформировать и скачать</button>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>