<header class="page-header">
    <h2>Необработанные уведомления</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li><span>Уведомления</span> <span class="separator"></span></li>
        </ol>
    </div>
</header>

<section class="panel panel-featured panel-featured-primary">
    <div class="panel-body">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">Список необработанных уведомлений</h2>
            </header>

            <a class="btn btn-default mt-xs mb-xs" type="button" href="/new-page-35">Перейти в обработанные уведомления</a>

            <div class="panel-body">
							<div class="alert alert-danger fade in nomargin">
								<h4>ОСАГО подходит к концу 31.01.2020</h4>
								<p>Уточните и внесите обновленную дату ОСАГО у <a href="#">Лада Калина x777xx777</a></p>
								<p>
									<button class="btn btn-info mt-xs mb-xs" type="button">Взять в работу</button>
								</p>
								<p style="text-align: right;">Cоздано 20.12.2019</p>
							</div>
							<div class="alert alert-danger fade in nomargin">
								<h4>Платеж по лизингу 31.01.2020</h4>
								<p>Оплатите и внесите обновленную дату платежа у <a href="#">Лада Калина x777xx777</a></p>
								<p>
									<button class="btn btn-info mt-xs mb-xs" type="button">Взять в работу</button>
								</p>
								<p style="text-align: right;">Cоздано 20.12.2019</p>
							</div>
							<div class="alert alert-danger fade in nomargin">
								<h4>Окончание лизинга 31.01.2019</h4>
								<p>В связи с окончанием лизинга, в назначенную дату измените статус у <a href="#">Лада Калина x777xx777</a></p>
								<p>
									<button class="btn btn-info mt-xs mb-xs" type="button">Взять в работу</button>
								</p>
								<p style="text-align: right;">Cоздано 20.12.2019</p>
							</div>
							<div class="alert alert-danger fade in nomargin">
								<h4>Окончание водительского удостоверения 31.01.2019</h4>
								<p>В связи с окончанием действия водительсого удостоверения, предупредите, запросите номер нового и измените его у <a href="#">Василия Васильевича Васильева</a></p>
								<p>
									<button class="btn btn-info mt-xs mb-xs" type="button">Взять в работу</button>
								</p>
								<p style="text-align: right;">Cоздано 20.12.2019</p>
							</div>
							<div class="alert alert-danger fade in nomargin">
								<h4>День рождения у клиента</h4>
								<p>Не забудьте поздравить, у <a href="#">Иванова Ивана Ивановича</a> день рождения 31.01.2019</p>
								<p>
									<button class="btn btn-info mt-xs mb-xs" type="button">Взять в работу</button>
								</p>
								<p style="text-align: right;">Cоздано 20.12.2019</p>
							</div>
							<div class="alert alert-danger fade in nomargin">
								<h4>День рождения у заказчика</h4>
								<p>Не забудьте поздравить, у <a href="#">Иванова Ивана Ивановича</a> день рождения 31.01.2019</p>
								<p>
									<button class="btn btn-info mt-xs mb-xs" type="button">Взять в работу</button>
								</p>
								<p style="text-align: right;">Cоздано 20.12.2019</p>
							</div>
            </div>
        </section>
    </div>
</section>


<!--
ТО, ОСАГО, КАСКО
-->
