<header class="page-header">
    <h2>Обработанные уведомления</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li><span>Обработанные уведомления</span> <span class="separator"></span></li>
        </ol>
    </div>
</header>

<section class="panel panel-featured panel-featured-primary">
    <div class="panel-body">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">Список обработанных уведомлений</h2>
            </header>
            <div class="panel-body">
							<div class="alert alert-danger fade in nomargin">
								<h4>Announcement!</h4>
								<p>Текст уведомления</p>
								<div class="form-control">Взято в работу <strong>Александра Александровна Александрова</strong></div>
							</div>
						</div>
				</section>
		</div>
</section>

<!--
ТО, ОСАГО, КАСКО
-->
