<header class="page-header">
    <h2>Заказы авто с водителем</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li><span>Заказы авто с водителем</span> <span class="separator"></span></li>
        </ol>
    </div>
</header>
<section class="panel panel-featured panel-featured-primary">
    <header class="panel-heading">
      <h2 class="panel-title">Список заказов авто с водителем</h2>
    </header>
    <div class="panel-body">
        <button href="#add-products" type="button" class="mb-xs mt-xs mr-xs btn btn-sm btn-default modal-with-form">
            <i class="fa fa-plus"></i> Создать заказ
        </button>
        <div class="zag">
            <h1>заглушка</h1>
        </div>
        <div class="table-responsive">
            <table id="js-nomenclature-products-table" class="display table table-bordered table-striped table-condensed mb-none customize" style="width:100%; display: none">
                <thead>
                    <tr>
                      <th>Дата заказа</th>
                      <th>Заказчик</th>
                      <th>Пассажир</th>
                      <th>Водитель</th>
                      <th>Статус</th>
                      <th>Подробнее</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each goods}}
                        <tr>
                            <td>{{this.title}}</td>
                            <td>{{this.purchase_price}}</td>
                            <td>{{this.selling_price}}</td>
                        </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr>
                      <th>Дата заказа</th>
                      <th>Заказчик</th>
                      <th>Пассажир</th>
                      <th>Водитель</th>
                      <th>Статус</th>
                      <th>Подробнее</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>

<!-- Модалки-->

<div id="add-products" class="modal-block modal-block-primary mfp-hide" style="max-width: 700px;">
    <section class="panel">
      <header class="panel-heading">
          <h2 class="panel-title">Заявка на авто с водителем</h2>
      </header>
      <div class="panel-body">
        <form id="js-nomenclature-products-form" class="form-horizontal mb-lg" novalidate="novalidate">
          <div class="form-group mt-lg">
            <label class="col-sm-3 control-label">Заказчик</label>
            <div class="col-sm-9">
              <div class="input-group">
                <select name="master" class="form-control">
                  <option value="0" selected disabled>Выберете заказчика</option>
                  <option value="0">ООО "Рога и Копыта"</option>
                  <option value="0">ИП Иванов Иван Иванович</option>
                  <option value="0">ИП Василий Васильевич Васильев</option>
                </select>
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button">Добавить</button>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Пассажир</label>
            <div class="col-sm-9">
              <div class="input-group">
                <select name="master" class="form-control">
                  <option value="0" selected disabled>Выберете пассажира</option>
                  <option value="0">Иван Иванов Иванович</option>
                  <option value="0">Василиса Ивановна</option>
                </select>
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button">Добавить</button>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Контактный телефон</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input сdata-input-mask="+7 (999) 999-9999" placeholder="+7 (123) 123-1234" class="form-control" required>
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button">Добавить</button>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Водитель</label>
            <div class="col-sm-9">
              <div class="input-group">
                <select name="master" class="form-control">
                  <option value="0" selected disabled>Выберете водителя</option>
                  <option value="0">Иван Иванов Иванович</option>
                  <option value="0">Василиса Ивановна</option>
                </select>
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button">Добавить</button>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Автомобиль</label>
            <div class="col-sm-9">
              <div class="input-group">
                <select name="master" class="form-control">
                  <option value="0" selected disabled>Выберете автомобиль</option>
                  <option value="0">Hyndai Solaris</option>
                  <option value="0">Kia Rio</option>
                </select>
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button">Добавить</button>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Класс автомобиля</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="Введите класс" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Маршрут</label>
            <div class="col-sm-10">
              <div class="input-group">
                <select name="master" class="form-control">
                  <option value="0" selected disabled>Выберете маршрут</option>
                  <option value="0">Магнитогорск-Банное</option>
                  <option value="0">Магнитогорск-Аэропорт города</option>
                </select>
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button">Добавить</button>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">Предварительная сумма</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Введите сумму" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Выбор оплаты</label>
            <div class="col-sm-9">
              <div class="input-group">
                <select name="master" class="form-control">
                  <option value="0" selected disabled>Выберете способ оплаты</option>
                  <option value="0">Касса1</option>
                  <option value="0">Р/С "КУБ" 408121212124324432</option>
                </select>
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button">Добавить</button>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12 control-label"><span>ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ</span></div>
            <div class="form-group col-sm-12">
              <label class="col-sm-3 control-label">Услуга</label>
              <div class="col-sm-9">
                <div class="input-group">
                  <select name="master" class="form-control">
                    <option value="0" selected disabled>Выберете способ оплаты</option>
                    <option value="0">Касса1</option>
                    <option value="0">Р/С "КУБ" 408121212124324432</option>
                  </select>
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">Добавить</button>
                  </span>
                </div>
              </div>
              <label class="col-sm-3 control-label">Цена услуги</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="Введите цену" required>
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-3 control-label">Комментарий</label>
            <div class="col-sm-9">
                <textarea class="form-control" id="" cols="30" rows="5" placeholder="Введите комментарий"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Общая сумма</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Введите сумму" required>
            </div>
          </div>
        </form>
      </div>
      <footer class="panel-footer">
        <div class="row">
          <div class="col-md-12 text-right">
            <button class="btn btn-success modal-confirm">Принять</button>
            <button class="btn btn-primary">Изменить</button>
            <button class="btn btn-danger modal-dismiss">Завершить</button>
          </div>
        </div>
      </footer>
    </section>
</div>
<script src="assets/vendor/jquery-maskedinput/jquery.maskedinput.js"></script>