<header class="page-header">
    <h2>Выбор раздела аналитики</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li><span>Выбор раздела аналитики</span> <span class="separator"></span></li>
        </ol>
    </div>
</header>


<section class=".col-md-12 ">
    <a class="mb-xs mt-xs mr-xs btn btn-primary btn-lg btn-block" href="/new-page-31">ДДС</a>
    <a class="mb-xs mt-xs mr-xs btn btn-primary btn-lg btn-block" href="/new-page-32">Рентабельности единиц (авто, квартиры, заказчики МУЗов)</a>
    <a class="mb-xs mt-xs mr-xs btn btn-primary btn-lg btn-block" href="/new-page-33">Рентабельности проектов (прокат, отель, МУЗ)</a>
</section>