<style>
    .js-editable-body .non-editable-content {
        display: block;
        padding-top: 7px;
        font-weight: bold;
    }

    .js-editable-body .editable-content {
        display: none;
    }

    .js-editable-body.editable-on .editable-content {
        display: block;
    }

    .js-editable-body.editable-on .non-editable-content {
        display: none;
    }

    .footer-btn-block-resrvation {
        display: flex;
    }

    .footer-resrvation-save-btn {
        margin-right: auto;
    }

    .footer-resrvation-end-btn {
        margin-left: auto;
        margin-right: 10px;
    }
</style>

<header class="page-header">
    <h2>Статьи расходов</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li><span>Статьи расходов</span> <span class="separator"></span></li>
        </ol>
    </div>
</header>
<section class="panel panel-featured panel-featured-primary">
    <div class="panel-body">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">Статья расходов</h2>
            </header>
            <div class="panel-body js-editable-body">
                <form action="/api/costs-categories/update" id="js-costs-categories-add-form" class="form-horizontal mb-lg" novalidate="novalidate">
                    <input type="hidden" name="id" value="{{id}}">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Название</label>
                        <div class="non-editable-content" data-target="title">
                            {{cat.title}}
                        </div>
                        <div class="col-sm-8 editable-content">
                            <input type="text" name="title" value="{{cat.title}}" class="form-control" placeholder="Введите данные" required>
                        </div>
                    </div>
                    <div class="col-md-12 text-right editable-content">
                        <button class="btn btn-success">Сохранить</button>
                    </div>
                </form>
                <div class="col-md-12">
                    <button class="btn btn-primary js-toggleEditable">Редактировать</button>
                    <button data-id="{{id}}" class="btn btn-danger js-tableEssence-remove">Удалить</button>
                </div>
            </div>
        </section>
    </div>
</section>