<header class="page-header">
    <h2>Зарплатная ведомость</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-file-text-o"></i>
                </a>
            </li>
            <li><span>Ведомость</span> <span class="separator"></span></li>
        </ol>
    </div>
</header>

<section class="panel panel-primary">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
        </div>
        <h2 class="panel-title">Ведомость</h2>
    </header>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-condensed mb-none customize">
                <thead>
                    <tr>
                        <th colspan="4">
                            <div class="date-header">
                                <span>Отчет с</span>
                                <input id="js-salaryStatement-leftDate" type="date" class="form-control date-from js-salaryStatement-loadTable">
                                <span>по </span>
                                <input id="js-salaryStatement-rightDate" type="date" class="form-control date-to js-salaryStatement-loadTable">
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="4">
                            <div class="date-header">
                                <select id="js-salaryStatement-employee" name="master" class="form-control js-salaryStatement-loadTable">
                                    <option value="0" selected disabled>Работник</option>
                                    {{#each employees}}
                                        <option value="{{id}}">{{last_name}} {{first_name}} {{middle_name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody id="js-salaryStatement-table">
                    {{> salary-table}}
                </tbody>
            </table>
        </div>
    </div>
</section>